body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

nav {
    background-color: #333; 
    padding: 10px;
}

nav ul {
    display: flex;          
    list-style: none;       
    margin: 0;
    padding: 0;
    justify-content: center; 
    gap: 70px;             
}

nav ul li a {
    color: white;
    text-decoration: none; 
    font-family: Arial, sans-serif;
    font-size: 16px;
}


nav ul li a:hover {
    color: #00aaff;
}

img{
    width: 300px;
    height: 300px;
}

.integrantes{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.somos h1{
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-bottom: 20px;
}
